<footer class="footer f-bar-r">
  <div class="row py-3">
    <div class="col-xl-12 d-flex justify-content-center align-items-center py-3">
      <img src="/assets/img/logo/logo-rellenoBlanco_sinLeyenda.png" alt="" class="img-fluid">
    </div>
    <div class="col-xl-12 d-flex flex-row justify-content-center align-items-center">
      <span class="mb-2 mx-4 f-bar-r text-light">Entre Rios 477</span>
      <span class="mb-2 mx-4 f-bar-r text-light">Neuquén, Neuquén</span>
      <span class="mb-2 mx-4 f-bar-r text-light">+54 299 1111-1111</span>
      <span class="mb-2 mx-4 f-bar-r text-light">Empresa Argentina</span>
    </div>
  </div>
</footer>
