<footer class="footer font-bar-r">
  <div class="py-3">
    <div class="w-full flex justify-center items-center py-3">
      <img src="/assets/img/logo/logo-rellenoBlanco_sinLeyenda.png" alt="" class="w-48 h-auto">
    </div>
    <div class="w-full flex flex-row justify-center items-center flex-wrap gap-4">
      <span class="mb-2 mx-4 text-white">Entre Rios 477</span>
      <span class="mb-2 mx-4 text-white">Neuquén, Neuquén</span>
      <span class="mb-2 mx-4 text-white">+54 299 1111-1111</span>
      <span class="mb-2 mx-4 text-white">Empresa Argentina</span>
    </div>
  </div>
</footer>
