<main class="scroll-smooth bg-(--brand-color-blue)">
  <section
    class="welcome-section pt-20 relative overflow-hidden h-dvh bg-(--brand-color-blue) scroll-fade-out"
    id="home-spot"
  >
      <video
      class="absolute inset-0 w-full h-full object-cover brightness-50"
      autoplay
      muted
      loop
      playsinline
    >
      <source src="assets/video/video_hero.mp4" type="video/mp4" />
    </video>
    <div class="welcome-home absolute inset-0 brightness-50"></div>
    <div
      class="relative h-full z-10 flex flex-col justify-center xs:items-center px-6 md:px-20"
    >
      <div class="w-full md:w-3/4 lg:w-1/2 scroll-fade-out">
        <div
          class="block text-5xl md:text-6xl text-white mb-4 animate__animated animate__slideInUp animate__fast"
        >
          <!-- Infraestructura confiable para un futuro sostenible -->
          <p class="f-bar-r ">
            <!-- <strong>Diseñamos y ejecutamos </strong>soluciones en gas, agua y
            saneamiento. -->
            <strong class="uppercase">ingenieria e infraestructura </strong> <br> en gas, petróleo y obras civiles.
          </p>
        </div>
        <div
          class="block font-bar-l text-lg md:text-2xl text-white mb-8 animate__animated animate__slideInUp animate__delay-1s"
        >
          <!-- Diseñamos y ejecutamos soluciones en gas, agua y saneamiento con la
        solidez que tu proyecto necesita. -->
          No aspiramos ser la empresa número uno, solo queremos ser, tú primer
          opción
        </div>
        <div class="flex">
          <a
            routerLink="/site/home"
            fragment="service-spot"
            href="#service-spot"
            class="inline-block px-10 py-3 border-2 border-neutral-50 text-white font-bar-r text-lg hover:bg-[rgba(255,255,255,0.5)] transition delay-200 ease-in-out animate__animated animate__slideInUp animate__delay-2s"
          >
            Saber más
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="rdn-section-paddingY rdn-section-paddingX" id="about-spot"> -->
  <!-- <div class="contenedor-about-home"> -->
  <section class="relative h-dvh grid grid-cols-8 px-40 bg-(--brand-color-blue) scroll-fade-in">
    <div class="col-span-5 flex flex-col justify-center">
      <p class="text-lg mb-2 f-bar-l text-neutral-300">Ingenieria desde 1991</p>
      <p class="text-4xl f-bar-r text-white">
        Brindamos soluciones
        integrales en ingeniería, construcción y montajes. Contribuyendo al
        desarrollo sostenible tanto de las industrias de oil & gas, así como
        en infraestructura urbana. <br>Nos especializamos en el diseño y
        ejecución de infraestructuras como: ramales y redes de gas, agua y
        saneamiento, tanto en acero como polietileno; gasoductos; oleoductos
        y obras civiles complementarias.
      </p>
    </div>
    <div class="col-span-3 flex items-end justify-center py-40">
      <a href="" class="text-sm text-white px-8 py-4 cursor-pointer border-2 border-white hover:bg-[rgba(255,255,255,0.5)] transition f-bar-r">
        MISION, VISION Y VALORES</a>
      <!-- <img
        class="w-full h-full object-cover rounded-lg p-5 opacity-20"
        src="/assets/img/logo/logo-rellenoNegro.png"
        alt="RDN Vintage"
      /> -->
    </div>
  </section>

  <section class="bg-neutral-50 px-80">
    <div class="grid grid-cols-9">
      <div class="col-span-3 flex flex-col items-center justify-end text-black p-12 text-center">
        <div class="mb-3">
          <span class="text-4xl md:text-5xl xl:text-7xl font-bold f-bar-b text-(--brand-color-blue)" id="exp-year"></span>
        </div>
        <span class="text-xs md:text-sm f-bar-r">Años de experiencia</span>
      </div>
      <div class="col-span-3 flex flex-col items-center justify-end text-black p-12 text-center">
        <div class="mb-3">
          <span class="text-4xl md:text-5xl xl:text-7xl font-bold f-bar-b text-(--brand-color-blue)" id="proy-end"></span>
        </div>
        <span class="text-xs md:text-sm f-bar-r">Proyectos</span>
      </div>
      <div class="col-span-3 flex flex-col items-center justify-end text-black p-12 text-center">
        <div class="mb-3">
          <span class="text-4xl md:text-5xl xl:text-7xl font-bold f-bar-b text-(--brand-color-blue)" id="clients-cont"></span>
        </div>
        <span class="text-xs md:text-sm f-bar-r">Clientes</span>
      </div>
    </div>
  </section>

  <!-- SERVICES SECTION -->
  <section class="py-40 px-60 services-section bg-white" id="service-spot">
    <div class="mb-16">
      <h2
        class="f-bar-b text-4xl lg:text-5xl text-(--brand-color-blue) uppercase mb-2"
      >
        Ingeniería y Experiencia<br />
        <span class="f-bar-l text-gray-800">en cada proyecto</span>
      </h2>
    </div>
    <div class="w-10/12 mx-auto">
    <div class="flex shrink-0 border-t-2 border-gray-300 mb-4">
      <div
      class="flex-1 flex items-center py-6 cursor-pointer transition-all ease-in-out"
      [class.active]="site_service.getSectionTitleState() === 0"
      [class.border-t-6]="site_service.getSectionTitleState() === 0"
      [class.border-(--brand-color-blue)]="site_service.getSectionTitleState() === 0"
      (click)="site_service.setSectionTitleState(0)">
        <p class="f-bar-l font-bold text-(--brand-color-blue) text-2xl text-wrap pe-2">Montaje de oleoductos</p>
      </div>
      <div
      class="flex-1 flex items-center py-8 cursor-pointer transition-all ease-in-out"
      [class.active]="site_service.getSectionTitleState() === 1"
      [class.border-t-6]="site_service.getSectionTitleState() === 1"
      [class.border-(--brand-color-blue)]="site_service.getSectionTitleState() === 1"
      (click)="site_service.setSectionTitleState(1)">
        <p class="f-bar-r font-bold text-(--brand-color-blue) text-xl text-wrap pe-2">Servicio 2</p>
      </div>
      <div
      class="flex-1 flex items-center py-8 cursor-pointer transition-all ease-in-out"
      [class.active]="site_service.getSectionTitleState() === 2"
      [class.border-t-6]="site_service.getSectionTitleState() === 2"
      [class.border-(--brand-color-blue)]="site_service.getSectionTitleState() === 2"
      (click)="site_service.setSectionTitleState(2)">
        <p class="f-bar-r font-bold text-(--brand-color-blue) text-xl text-wrap pe-2">Servicio 3</p>
      </div>
      <div
      class="flex-1 flex items-center py-8 cursor-pointer transition-all ease-in-out"
      [class.active]="site_service.getSectionTitleState() === 3"
      [class.border-t-6]="site_service.getSectionTitleState() === 3"
      [class.border-(--brand-color-blue)]="site_service.getSectionTitleState() === 3"
      (click)="site_service.setSectionTitleState(3)">
        <p class="f-bar-r font-bold text-(--brand-color-blue) text-xl text-wrap pe-2">Servicio 4</p>
      </div>
      <div
      class="flex-1 flex items-center py-8 cursor-pointer transition-all ease-in-out"
      [class.active]="site_service.getSectionTitleState() === 4"
      [class.border-t-6]="site_service.getSectionTitleState() === 4"
      [class.border-(--brand-color-blue)]="site_service.getSectionTitleState() === 4"
      (click)="site_service.setSectionTitleState(4)">
        <p class="f-bar-r font-bold text-(--brand-color-blue) text-xl text-wrap pe-2">Servicio 5</p>
      </div>
      <div
      class="flex-1 flex items-center py-8 cursor-pointer transition-all ease-in-out"
      [class.active]="site_service.getSectionTitleState() === 5"
      [class.border-t-6]="site_service.getSectionTitleState() === 5"
      [class.border-(--brand-color-blue)]="site_service.getSectionTitleState() === 5"
      (click)="site_service.setSectionTitleState(5)">
        <p class="f-bar-r font-bold text-(--brand-color-blue) text-xl text-wrap pe-2">Servicio 6</p>
      </div>
    </div>
    <div class="mx-auto relative h-[675px]">
      <!-- <div class="flex flex-wrap gap-4 mb-10 justify-between"> -->
      @switch(site_service.getSectionTitleState()){
        @case(0){
          <div
          class="absolute inset-0 overflow-hidden animate__animated"
          [class.animate__fadeIn]="site_service.getSectionTitleState() === 0"
          [class.animate__fadeOut]="site_service.getSectionTitleState() !== 0">
            <img src="/assets/img/rdn6.jpeg" alt="" class="object-cover w-full h-full">
            <!-- <span class="absolute top-0 left-0 h-30 w-full bg-(--brand-color-blue-b)"></span> -->
          </div>
        }
        @case(1){
          <div
          class="absolute inset-0 overflow-hidden animate__animated"
          [class.animate__fadeIn]="site_service.getSectionTitleState() === 1"
          [class.animate__fadeOut]="site_service.getSectionTitleState() !== 1">
            <img src="/assets/img/100_5423.JPG" alt="" class="object-cover h-full w-full">
          </div>
        }
        @case(2){
          <div
          class="absolute inset-0 overflow-hidden animate__animated"
          [class.animate__fadeIn]="site_service.getSectionTitleState() === 2"
          [class.animate__fadeOut]="site_service.getSectionTitleState() !== 2"
          >
            <img src="/assets/img/DSC03794.JPG" alt="" class="object-cover h-full w-full">
          </div>
        }
        @case(3){
          <div
          class="absolute inset-0 overflow-hidden animate__animated"
          [class.animate__fadeIn]="site_service.getSectionTitleState() === 3"
          [class.animate__fadeOut]="site_service.getSectionTitleState() !== 3"
          >
            <img src="/assets/img/DSC04099.JPG" alt="" class="object-cover h-full w-full">
          </div>
        }
        @case(4){
          <div
          class="absolute inset-0 overflow-hidden animate__animated"
          [class.animate__fadeIn]="site_service.getSectionTitleState() === 4"
          [class.animate__fadeOut]="site_service.getSectionTitleState() !== 4"
          >
            <img src="/assets/img/rdn9.jpeg" alt="" class="object-cover h-full w-full">
          </div>
        }
        @case(5){
          <div
          class="absolute inset-0 overflow-hidden animate__animated"
          [class.animate__fadeIn]="site_service.getSectionTitleState() === 5"
          [class.animate__fadeOut]="site_service.getSectionTitleState() !== 5"
          >
            <img src="/assets/img/1000107553.jpg" alt="" class="object-cover h-full w-full">
          </div>
        }
      }
      <!-- </div> -->
    </div>
    </div>

  </section>

  <!-- CLIENTS SECTION -->
  <section class="py-40 px-6 md:px-20 clients-section">
    <div class="max-w-7xl mx-auto">
      <div class="text-center mb-12">
        <p class="f-bar-sb text-4xl md:text-4xl text-(--brand-color-blue-b) uppercase">
          Ellos
          <span class="f-bar-l text-neutral-800">confían en nosotros</span>
        </p>
      </div>
      <div class="slider-logos" id="slider-logos">
        <div class="slider-track" id="slider-track">
          @for (item of site_service.getClientsCarrousel(); track $index) {
            <img [src]="item" alt="logo" class=""/>
          }
        </div>
      </div>
      <!-- <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="w-32 h-32 object-contain mx-auto"
              src="/assets/img/clientes/2.png"
              alt="Cliente 1"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="w-32 h-32 object-contain mx-auto"
              src="/assets/img/clientes/3.png"
              alt="Cliente 2"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="w-32 h-32 object-contain mx-auto"
              src="/assets/img/clientes/4.png"
              alt="Cliente 3"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="w-32 h-32 object-contain mx-auto"
              src="/assets/img/clientes/5.png"
              alt="Cliente 4"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="w-32 h-32 object-contain mx-auto"
              src="/assets/img/clientes/6.png"
              alt="Cliente 5"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="w-32 h-32 object-contain mx-auto"
              src="/assets/img/clientes/7.png"
              alt="Cliente 6"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="w-32 h-32 object-contain mx-auto"
              src="/assets/img/clientes/8.png"
              alt="Cliente 7"
            />
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <!-- CONTACT SECTION bg-(--brand-color-blue)-->
  <section
    class="py-40 px-6 md:px-20 bg-slate-900"
    id="contact-spot"
  >
  <div class="w-6/12 flex flex-col mx-auto">
    <div class="mb-12 text-center text-white">
      <p class="text-2xl uppercase mb-4 f-bar-sb ">habla con nosotros</p>
      <p class="f-bar-r text-lg">
        Por cualquier consulta podés dejarnosla completando el formulario de abajo
      </p>
    </div>
    <div class="w-full">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <!-- Nombre y Apellido -->
        <div class="mb-2">
          <!-- <label for="nombre" class="block font-bar-r text-white mb-2"
            >Nombre y Apellido</label
          > -->
          <input
            type="text"
            id="nombre"
            formControlName="name_surname"
            class="w-full bg-white px-4 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-brand-red-a transition"
            placeholder="Nombre completo*"
          />
          <div
            *ngIf="f['name_surname'].touched && f['name_surname'].invalid"
            class="text-red-600 text-sm mt-1"
          >
            <div *ngIf="f['name_surname'].errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="f['name_surname'].errors?.['minlength']">
              Debe tener al menos 3 caracteres.
            </div>
          </div>
        </div>

        <!-- Email -->
        <div class="mb-2">
          <!-- <label for="email" class="block font-bar-r text-white mb-2"
            >Email</label
          > -->
          <input
            type="email"
            id="email"
            formControlName="email"
            class="w-full px-4 py-2 bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-brand-red-a transition"
            placeholder="Ingrese email"
          />
          <div
            *ngIf="f['email'].touched && f['email'].invalid"
            class="text-red-600 text-sm mt-1"
          >
            <div *ngIf="f['email'].errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="f['email'].errors?.['email']">
              Debe ser un email válido.
            </div>
          </div>
        </div>

        <!-- Teléfono -->
        <div class="mb-2">
          <!-- <label for="phone" class="block font-bar-r text-white mb-2"
            >Teléfono</label
          > -->
          <input
            type="tel"
            id="phone"
            formControlName="number"
            class="w-full px-4 py-2 bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-brand-red-a transition"
            placeholder="Teléfono"
          />
          <div
            *ngIf="f['number'].touched && f['number'].invalid"
            class="text-red-600 text-sm mt-1"
          >
            <div *ngIf="f['number'].errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="f['number'].errors?.['pattern']">
              Ingrese un teléfono válido.
            </div>
          </div>
        </div>

        <!-- Mensaje -->
        <div class="mb-2">
          <!-- <label for="message" class="block font-bar-r text-white mb-2"
            >Mensaje</label
          > -->
          <textarea
            id="message"
            formControlName="message"
            class="w-full px-4 py-2 bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-brand-red-a transition"
            placeholder="Consulta"
            rows="5"
          ></textarea>
          <div
            *ngIf="f['message'].touched && f['message'].invalid"
            class="text-red-600 text-sm mt-1"
          >
            <div *ngIf="f['message'].errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="f['message'].errors?.['minlength']">
              Debe tener al menos 10 caracteres.
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
          <button
            type="submit"
            [disabled]="contactForm.invalid || cargando"
            class="px-10 py-3 border border-transparent hover:border-neutral-50 text-white f-bar-sb text-lg font-bold bg-(--brand-color-red-a) hover:bg-transparent transition disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer"
          >
          @if(cargando){
            <span class="">Enviando...</span>

          }@else{
            <span class="uppercase text-sm">enviar consulta</span>
          }
          </button>
        </div>

        <!-- Success/Error Messages -->
        <div
          *ngIf="enviado"
          class="mt-4 p-4 bg-green-400 text-white rounded-lg text-center font-bar-r"
        >
          ¡Mensaje enviado con éxito! Nos estaremos comunicando pronto.
        </div>
        <div
          *ngIf="error"
          class="mt-4 p-4 bg-red-500 text-white rounded-lg text-center font-bar-r"
        >
          {{ error }}
        </div>
      </form>
    </div>
  </div>
  </section>
</main>
<app-footer></app-footer>
