/* Welcome section animations and styling */
.kenburns-top-left {
  animation: kenburns-top-center 3s ease-out both;
}

.welcome-section{
  background: transparent;
}

.welcome-home {
  /* background-image: url("/assets/bg/4.jpg"); */
  /* background-image: url("/assets/video/video_hero.mp4");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; */
}

.about-section {
  background-image: url("/assets/bg/bg-rdn-about4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#exp-year::before{
  content: '+';
}

#proy-end::before{
  content: '+';
}

.clients-section {
  background-color: #f5f5f5;
}

/* Accordion styles */
details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

.slider-logos {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 150px; /* ajustá según tus logos */
}

.slider-track {
  display: flex;
  width: max-content;
  animation: slide 30s linear infinite;
  align-items: center;
}

.slider-track img {
  height: 180px;
  margin: 0 2rem;
  object-fit: contain;
  flex-shrink: 0;
}

.slider-logos::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(244, 244, 244)
  );
  content: " ";
  z-index: 1;
}

.slider-logos::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(244, 244, 244)
  );
  content: " ";
  z-index: 1;
}

.slider-logos:hover .slider-track {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* SI FUERA UN ARRAY SOLO VA AL 100%, PERO COMO HAY DUPLICADO ES 50% */
  }
}

/* Keyframe for Kenburns effect */
@keyframes kenburns-top-center {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 16%;
  }
  100% {
    transform: scale(1.25) translate(-20px, -15px);
    transform-origin: top center;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .welcome-section {
    min-height: calc(100vh - 64px) !important;
  }
}

