input[type="file"] {
  border-radius: none;

}

input[type="file"]::file-selector-button {
  border-radius: none;
  background-color: var(--brand-color-blue);
  color: white;
  padding: 8px 20px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--brand-color-blue-b);
}

